node_modules/
dev.venv/
.claude/
.git/
.gitignore
*.swp
.DS_Store
.idea/
.vscode/
.vscode-server/
*.log
*.json
*.sh
temp/
tests/
postgres-data/
__pycache__/
README.md
!pyproject.toml/requirements.txt
db/
docker-compose.yml
docker-compose.test.yml
restart-bot
restart-test