aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
attrs==25.3.0
beautifulsoup4==4.12.2
cffi==1.17.1
click==8.2.1
curl_cffi==0.12.0
ddgs==9.2.3
dotenv==0.9.9
frozendict==2.4.6
frozenlist==1.7.0
idna==3.10
lxml==6.0.0
matplotlib==3.9.2
multidict==6.6.3
multitasking==0.0.12
numpy==2.3.2
pandas==2.3.1
peewee==3.18.2
pip==25.1
platformdirs==4.3.8
primp==0.15.0
propcache==0.3.2
protobuf==6.31.1
psutil==7.0.0
py-cord==2.6.1
pycparser==2.22
python-dotenv==1.1.1
pytz==2025.2
setuptools==78.1.1
typing_extensions==4.14.1
tzdata==2025.2
websockets==15.0.1
wheel==0.45.1
yarl==1.20.1
requests==2.31.0
python-dateutil==2.9.0
yfinance==0.2.65